__pycache__/*
*/cpython-39.pyc
dockers/django/src/transcendence/pong/__pycache__/*.cpython-39.pyc
dockers/django/src/transcendence/pong/migrations/__pycache__/*.cpython-39.pyc
dockers/django/src/transcendence/transcendence/__pycache__/*.cpython-39.pyc
