.chat-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    backdrop-filter: blur(15px);
    transition: background 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.chat-btn i {
    font-size: 24px;
    color: white;
}

#chat-window {
	font-family: var(--font-base);
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 300px;
    height: 400px;
    background: transparent;
	border: 2px solid rgba(255, 255, 255, 0.5);
	border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    visibility: hidden;
    pointer-events: none;
	line-height: 1.7;
}

#chat-window:not(.hidden) {
    visibility: visible;
    pointer-events: auto;
}

#chat-header {
	position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    background: transparent;
    color: white;
    position: relative;
    height: 65px;
}

#chat-header #chat-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

#chat-header #chat-title img {
    border-radius: 50%;
}

#chat-header #chat-title span {
    font-weight: bold;
}

#close-modal-btn,
#chat-header #close-chat-btn,
#chat-header #manage-friends-btn,
#chat-header #back-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    position: absolute;
    right: 10px;
}

#chat-header #back-btn {
    display: none;
}

#back-btn {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}

#back-btn.show {
    display: flex !important;
}

#manage-friends-btn {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
}

#close-chat-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
}

#chat-title {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#chat-header .hidden {
    display: none !important;
}

#chat-btn .hidden {
	display: none !important;
}

#chat-header i {
    font-size: 24px;
}

#chat-content {
    overflow-y: hidden;
}

#friend-list {
    overflow-y: auto;
}

.friend-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    color: white;
	font-weight: bold;
}

.friend-item:hover {
    background: rgba(255, 255, 255, 0.2);
}

#chat-area {
    flex: 1;
    display: none;
    flex-direction: column;
    justify-content: flex-end;
}

#chat-area:not(.hidden) {
	display: flex;
}

#messages {
	flex-grow: 1;
    overflow-y: auto;
    height: 270px;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message-item {
    max-width: 70%;
    padding: 10px 15px;
    border-radius: 20px;
    margin-bottom: 10px;
    display: inline-block;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 1.4;
}

.message-item.sender {
    background-color: #DCF8C6;
    color: #000;
    align-self: flex-end;
}

.message-item.recipient {
    background-color: #2A2A2A;
    color: #FFF;
    align-self: flex-start;
}

.error-message {
	padding-top: 125px;
	color: white;
}

#message-input-area {
    display: flex;
    align-items: center;
    gap: 10px;
	padding: 10px;
    background: transparent;
}

.avatar-container {
    position: relative;
    display: inline-block;
}

#friend-list .status-indicator {
    position: absolute;
    bottom: 5px;
    right: 12px;
    width: 12px;
    height: 12px;
    background-color: limegreen;
    border-radius: 50%;
    display: none;
}

#chat-header .status-indicator {
    position: absolute;
	left: 22px;
	bottom: -2px;
    width: 10px;
    height: 10px;
    background-color: limegreen;
    border-radius: 50%;
    display: none;
}

.status-indicator.online {
    display: block !important;
}

.friend-item img {
	vertical-align: inherit;
	margin-right: 15px;
}

#chat-input {
    flex: 1;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    background: transparent;
    color: white;
	padding-left: 15px;
}

#send-btn {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

#send-btn i {
    font-size: 20px;
}

.hidden {
    display: none;
}

/*
.btn-group .btn-check:checked + .btn {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border-color: rgba(255, 255, 255, 0.3);
}*/

.tab-content .tab-pane {
    display: none;
}

.tab-content .tab-pane.active {
    display: block;
}

#friendsModal {
	position: relative !important;
}

#friendsModal .modal-content {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 20px;
	height: 600px;
    position: relative;
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    padding: 20px;
    margin: auto;
    background: transparent;
    color: white;
}

.modal-dialog {
    top: 15%;
}

.btn-outline-primary {
    color: white;
    border-color: rgba(255, 255, 255, 0.5);
}

.btn-outline-primary:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.btn-primary, .btn-success, .btn-danger {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.modal-header, .modal-body, .modal-footer {
    color: #ffffff;
}

#close-modal-btn {
    position: absolute;
    right: 42px;
    top: 28px;
	font-size: 28px;
}

.w-95 {
	width: 95% !important;
}

#manageFriendsModalLabel {
	margin-top: 8px;
	padding-bottom: 1.2em;
}

.container.sm {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    width: 400px;
    height: 400px;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    padding: 20px;
    max-width: 500px;
    margin: auto;
}

#request-success {
	color: limegreen;
}

#request-fail1, #request-fail2, #request-fail3, #request-fail4, #request-fail5, #request-fail6 {
	color: red;
}

#add-friend-btn {
    background: transparent;
    backdrop-filter: blur(15px);
}

#add-friend-btn:hover {
    background: black;
	border: 1px solid white;
}

#add-friend-input {
	background: white !important;
}

.message-item p {
	margin: 0;
}

#friend-container {
	cursor: pointer;
}

#invite-btn {
	border: 1px solid rgba(255, 255, 255, 0.5);
	margin-left: 15px;
}

#join-btn {
	border: 1px solid rgba(255, 255, 255, 0.5);
	margin-top: 5px;
}
