body {
	font-family: var(--font-base);
	line-height: 1.7;
	color: var(--c-body);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 600;
	color: var(--c-dark);
}

h1 {
	padding-right: 15px;
}

h4 {
	color: white;
	padding-bottom: 1.2em;
}

.btn-play {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem 3rem;
	margin-left: auto;
	margin-right: auto;
}

.btn-play i {
	font-size: 1.5rem;
	margin-right: 0.5rem;
}

.btn-play span {
	font-size: 1.8rem;
	padding: 0 1rem;
}

/*SETTINGS*/

.settings-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    backdrop-filter: blur(15px);
    transition: background 0.3s ease, color 0.3s ease;
    cursor: pointer;
    z-index: 1000;
}

.settings-btn:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #000;
}

#settings-btn.hidden {
    display: none;
}

.settings-btn i {
    font-size: 24px;
    color: white;
}

#sidebar {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    height: calc(100% - 40px);
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 9999;
}

#sidebar.hidden {
    transform: translateX(110%);
}

#sidebar:not(.hidden) {
    transform: translateX(0);
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    background: transparent;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(15px);
    transition: background 0.3s ease, color 0.3s ease;
    z-index: 10000;
}

.close-btn:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #000;
}

#sidebar-content {
    width: 100%;
	margin-top: 80px;
}

#sidebar-content button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    border: none;
    transition: background 0.3s ease;
    width: 100%;
    margin-bottom: 20px;
}

#sidebar-content .back-btn {
    margin-bottom: 40px;
}

#sidebar-content button i {
    font-size: 1.2em;
}

#language-menu {
    display: flex;
    flex-direction: column;
}

#language-menu.hidden {
    display: none;
}

.back-btn {
    font-size: 20px;
    align-self: flex-start;
}

#authenticated img {
	vertical-align: inherit;
	margin-bottom: 15px;
}

button img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

#sidebar-content button.active {
	background-color: rgba(96, 0, 128, 0.4);
    color: white;
}

#sidebar-content button:hover {
    background: rgba(255, 255, 255, 0.4);
    color: #000;
}

#sidebar-content.hidden {
    display: none;
}

.hidden {
    display: none;
}

/* CHAT */

.chat-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    backdrop-filter: blur(15px);
    transition: background 0.3s ease, color 0.3s ease;
    cursor: pointer;
    z-index: 1000;
}

.chat-btn i {
    font-size: 24px;
    color: white;
}

#chat-window {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 300px;
    height: 400px;
    background: transparent;
	border: 2px solid rgba(255, 255, 255, 0.5);
	border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    z-index: 1000;
    visibility: hidden;
}

#chat-window:not(.hidden) {
    visibility: visible;
}

#chat-header {
	position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    background: transparent;
    color: white;
    position: relative;
    height: 65px;
}

#chat-header #chat-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

#chat-header #chat-title img {
    border-radius: 50%;
}

#chat-header #chat-title span {
    font-weight: bold;
}

#chat-header #close-chat-btn,
#chat-header #manage-friends-btn,
#chat-header #back-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    position: absolute;
    right: 10px;
}

#chat-header #back-btn {
    display: none;
}

#back-btn {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}

#back-btn.show {
    display: flex !important;
}

#manage-friends-btn {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
}

#close-chat-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
}

#chat-title {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#chat-header .hidden {
    display: none !important;
}

#chat-btn .hidden {
	display: none !important;
}

#chat-header i {
    font-size: 24px;
}

#chat-content {
    overflow-y: hidden;
}

#friend-list {
    overflow-y: auto;
}

.friend-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    color: white;
	font-weight: bold;
}

.friend-item:hover {
    background: rgba(255, 255, 255, 0.2);
}

#chat-area {
    flex: 1;
    display: none;
    flex-direction: column;
    justify-content: flex-end;
}

#chat-area:not(.hidden) {
	display: flex;
}

#messages {
	flex-grow: 1;
    overflow-y: auto;
    height: 270px;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message-item {
    max-width: 70%;
    padding: 10px 15px;
    border-radius: 20px;
    margin-bottom: 10px;
    display: inline-block;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 1.4;
}

.message-item.sender {
    background-color: #DCF8C6;
    color: #000;
    align-self: flex-end;
}

.message-item.recipient {
    background-color: #2A2A2A;
    color: #FFF;
    align-self: flex-start;
}

.no-friends-message, .error-message {
	padding-top: 125px;
	color: white;
}

#message-input-area {
    display: flex;
    align-items: center;
    gap: 10px;
	padding: 10px;
    background: transparent;
}

.avatar-container {
    position: relative;
    display: inline-block;
}

#friend-list .status-indicator {
    position: absolute;
    bottom: 5px;
    right: 12px;
    width: 12px;
    height: 12px;
    background-color: limegreen;
    border-radius: 50%;
    display: none;
}

#chat-header .status-indicator {
    position: absolute;
	left: 22px;
	bottom: -2px;
    width: 10px;
    height: 10px;
    background-color: limegreen;
    border-radius: 50%;
    display: none;
}

.status-indicator.online {
    display: block !important;
}

.friend-item img {
	vertical-align: inherit;
	margin-right: 15px;
}

#chat-input {
    flex: 1;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    background: transparent;
    color: white;
	padding-left: 15px;
}

#send-btn {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

#send-btn i {
    font-size: 20px;
}

/* Modal */
.modal-content {
    background: transparent;
    color: white;
}
