body {
	font-family: var(--font-base);
	line-height: 1.7;
	color: var(--c-body);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 600;
	color: var(--c-dark);
}

h1 {
	padding-right: 15px;
}

h4 {
	color: white;
	padding-bottom: 1.2em;
}

.btn-play {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem 3rem;
	margin-left: auto;
	margin-right: auto;
}

.btn-play i {
	font-size: 1.5rem;
	margin-right: 0.5rem;
}

.btn-play span {
	font-size: 1.8rem;
	padding: 0 1rem;
}
