body {
	font-family: var(--font-base);
	line-height: 1.7;
	color: var(--c-body);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 600;
	color: var(--c-dark);
}

h1 {
	padding-right: 15px;
}

/*
#hero {
	background: linear-gradient(rgba(var(--c-brand-rgb), 0.507), rgba(var(--c-brand-rgb), 0.438)), url(/static/src/images/dark-background.jpg);
	background-position: center;
	background-size: cover;
}*/

.btn-play {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem 3rem;
	margin-left: auto;
	margin-right: auto;
}

.btn-play i {
	font-size: 1.5rem;
	margin-right: 0.5rem;
}

.btn-play span {
	font-size: 1.8rem;
	padding: 0 1rem;
}

.settings-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    backdrop-filter: blur(15px);
    transition: background 0.3s ease, color 0.3s ease;
    cursor: pointer;
    z-index: 1000;
}

.settings-btn:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #000;
}

#settings-btn.hidden {
    display: none;
}

.settings-btn i {
    font-size: 24px;
    color: white;
}

#sidebar {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    height: calc(100% - 40px);
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 9999;
}

#sidebar.hidden {
    transform: translateX(110%);
}

#sidebar:not(.hidden) {
    transform: translateX(0);
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    background: transparent;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(15px);
    transition: background 0.3s ease, color 0.3s ease;
    z-index: 10000;
}

.close-btn:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #000;
}

#sidebar-content {
    width: 100%;
	margin-top: 80px;
}

#sidebar-content button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    border: none;
    transition: background 0.3s ease;
    width: 100%;
    margin-bottom: 20px;
}

#sidebar-content .back-btn {
    margin-bottom: 40px;
}

#sidebar-content button i {
    font-size: 1.2em;
}

#language-menu {
    display: flex;
    flex-direction: column;
}

#language-menu.hidden {
    display: none;
}

.back-btn {
    font-size: 20px;
    align-self: flex-start;
}

button img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

#sidebar-content button.active {
	background-color: rgba(96, 0, 128, 0.4);
    color: white;
}

#sidebar-content button:hover {
    background: rgba(255, 255, 255, 0.4);
    color: #000;
}

#sidebar-content.hidden {
    display: none;
}

.hidden {
    display: none;
}
