.table-centered {
	margin: 0 auto;
	max-width: 800px;
}
.lobby-row:hover {
	background-color: #f1f1f1;
	cursor: pointer;
}

.row {
	padding-bottom: 2vh;
}

.hidden {
	display: none;
}

.lobby-box {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    padding: 20px;
    margin: auto;
	max-width: 900px;
	height:450px;
	color: white;
}

.back-btn {
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
	font-size: 32px;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
}

.refresh-btn {
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
	font-size: 32px;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
}

#noLobbyMessage {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
