.lobby-box {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    padding: 20px;
    margin: auto;
    max-width: 900px;
    height: 450px;
    color: white;
}

.table-centered {
    margin: 0 auto;
    max-width: 100%;
}

.table-responsive {
    max-height: 308px;
    overflow-x: auto;
    overflow-y: auto;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.table-responsive::-webkit-scrollbar {
    width: 8px;
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.table {
    background: transparent;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 0;
}

.table > :not(caption) > * > * {
    background-color: transparent;
}

.table th, .table td {
    padding: 10px;
    color: #fff;
}

.table tbody tr {
    border-radius: 10px;
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.table tbody tr.no-bottom-border {
    border-bottom: none;
}

.table tbody tr:hover {
    background: rgba(0, 0, 0, 0.5);
}

.table tbody tr:first-child td {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.table tbody tr:last-child td {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.hidden {
    display: none;
}

.back-btn, .refresh-btn {
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    font-size: 32px;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

#noLobbyMessage {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

h1 {
    padding-bottom: 0.5em;
}
