.player-row {
    border-radius: 10px;
    overflow: hidden;
}

.player-row.no-bottom-border {
    border-bottom: none;
}

.no-bottom-border td {
    border-bottom: none;
}

.player-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.highlighted-row {
    font-weight: bold;
}

.admin-badge {
    background-color: #ff5722;
    color: white;
    padding: 2px 8px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 12px;
}

.lobby-box {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    padding: 20px;
    margin: auto;
    max-width: 900px;
    height: 450px;
    color: white;
}

.back-btn {
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    font-size: 32px;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

#lobbyDetails {
    color: lightgray;
}

.hidden {
    display: none;
}

/* TABLE */

.table-responsive {
    max-height: 250px;
    overflow-x: auto;
    overflow-y: auto;
/*   border: 1px solid rgba(255, 255, 255, 0.5);*/
    border-radius: 10px;
}

.table-responsive::-webkit-scrollbar {
    width: 8px;
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.table-centered {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
}

.table-hover tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.table {
    background: transparent;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 0;
}

.table > :not(caption) > * > * {
    background-color: transparent;
}

.table th, .table td {
    padding: 10px;
}

.table tbody tr {
    border-radius: 10px;
}

.table tbody tr:hover {
    background: rgba(0, 0, 0, 0.5);
}

.table td {
    color: #fff;
	border-color: rgba(255, 255, 255, 0.5);
}

.table td .player-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.table td .admin-badge {
    background-color: #ff5722;
    color: white;
    padding: 2px 8px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 12px;
}

.table tbody tr:first-child td {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.table tbody tr:last-child td {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

/* MODAL */

.modal-content {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    color: white;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.modal-title {
    color: white;
}

.modal-body p {
    color: lightgray;
}

.btn-danger {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-danger i {
    margin-right: 5px;
}

.btn-secondary {
    color: white;
}

.modal-backdrop {
    z-index: auto;
}

.modal-footer {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.modal-footer .btn {
    display: flex;
    align-items: center;
}

.modal-footer .btn i {
    margin-right: 5px;
}

/* PROFILES */

#playerProfileModal .modal-body .btn {
    margin-right: 10px;
}

#playerProfileModal .modal-body .btn:last-child {
    margin-right: 0;
}

.username-text {
    color: rgba(255, 255, 255, 0.5);
    margin-left: 5px;
}

.lobby-buttons {
    margin-top: 20px;
}
