@import url(../css/chillax.css);
@import url(../css/array.css);

:root {
	--c-dark: #212529;
	--c-brand: #4e57d4;
	--c-brand-light: #4e57d4;
	--c-brand-rgb: 78, 87, 212;
	--c-body: #727272;
	--font-base: "Chillax", sans-serif;
	--font-array: "Array", sans-serif;
	--box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.08);
	--transition: all 0.5s ease;
}

body {
	font-family: var(--font-base);
	line-height: 1.7;
	color: var(--c-body);
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 600;
	color: var(--c-dark);
}

a {
	text-decoration: none;
	color: var(--c-brand);
	transition: var(--transtion);
}

a:hover {
	color: var(--c-brand-light);
}

img {
	max-width: 100%;
	height: auto;
}

.section-padding {
	padding-top: 140px;
	padding-bottom: 140px;
}

.navbar {
	box-shadow: var(--box-shadow);
}

.navbar-nav .nav-link {
	font-weight:500;
	color: var(--c-dark);
}

.navbar-nav .nav-link-active {
	color: var(--c-brand);
}

.btn {
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	border-radius: 0;
	padding: 10px 24px;
}

.btn-brand {
	background-color: var(--c-brand);
	border-color: var(--c-brand);
	color: white;
}

.btn-brand:hover {
	background-color: var(--c-brand-light);
	border-color: var(--c-brand-light);
	color: white;
}

#hero {
	background: linear-gradient(rgba(var(--c-brand-rgb), 0.507), rgba(var(--c-brand-rgb), 0.438)), url(../images/dark-background.jpg);
	background-position: center;
	background-size: cover;
}

.section-title {
	margin-bottom: 60px;
}

.section-title .line {
	width: 60px;
	height: 4px;
	background-color: var(--c-brand);
	margin: 16px auto 24px auto;
}

.section-title p {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.array-font {
	font-family: var(--font-array);
	font-weight: 100;
}

.large-icon {
    font-size: 1.4em;
}

.btn-play {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem 3rem;
	margin-left: auto;
	margin-right: auto;
}

.btn-play i {
	font-size: 1.5rem;
	margin-right: 0.5rem;
}

.btn-play span {
	font-size: 1.8rem;
	padding: 0 1rem;
}
