.player-row {
    border-radius: 10px;
    overflow: hidden;
	cursor: pointer;
}

.player-row.no-bottom-border {
    border-bottom: none;
}

.no-bottom-border td {
    border-bottom: none;
}

.player-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.highlighted-row {
    font-weight: bold;
}

.player-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.table-responsive {
    max-height: 250px;
    overflow-x: auto;
    overflow-y: auto;
	border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.table-responsive::-webkit-scrollbar {
    width: 8px;
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.table {
    background: transparent;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 0;
}

.table > :not(caption) > * > * {
    background-color: transparent;
}

.table th, .table td {
    padding: 10px;
	color: #fff;
}

.table tbody tr {
    border-radius: 10px;
}

.table tbody tr:hover {
    background: rgba(0, 0, 0, 0.5);
}

.table td {
    color: #fff;
	border-color: rgba(255, 255, 255, 0.5);
}

.table td .player-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.table td img.player-img {
    width: 30px;
    height: 30px;
}

.table-centered {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
}

.table-hover tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* PROFILES */

#playerProfileModal .modal-body .btn {
    margin-right: 10px;
}

#playerProfileModal .modal-body .btn:last-child {
    margin-right: 0;
}

.username-text {
    color: rgba(255, 255, 255, 0.5);
    margin-left: 5px;
}

#profile-modal {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    color: white;
}

#close-profile {
	font-size: inherit;
	margin-top: inherit !important;
	top: 28px !important;
	right: 30px !important;
}
